@using Classfinder.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Schedule";
}

@section head {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    @Styles.Render("~/Content/Styles/Site/shared.css")

    <style type="text/css">
        .period-box {
            height: 100px;
            line-height: 100px;
            padding-left: 35px;
            font-size: 25px;
            cursor: pointer;
        }
            .period-box:hover {
                background-color: #287062;
            }
            .selected {
                background-color: #287062;
                border-right: 20px solid #1ccfaf;
            }

        #classmates td {
            border-bottom:1px solid #a6a6a6;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 20px;
        }
        #classmates td:first-child {
            padding-left: 25px;
        }
        #classmates a {
            color: #1ccfaf;
            text-decoration: none;
        }
        #classmates td:last-child {
            text-align:right;
            padding-right: 25px;
            color: #a6a6a6;
        }

        #header-row {
            color:#7c7c7c;
            font-size: 25px;
        }
            #header-row td {
                border-bottom: 1px solid #1ccfaf;
                padding-top: 10px;
                padding-bottom: 5px;
            }
                #header-row td:first-child {
                    padding-left: 25px;
                }
                #header-row td:last-child {
                    text-align: right;
                    padding-right: 25px;
                }
    </style>
}

<div id="left-bar" style="background-color:#20937e;width:300px;height:100%;position:absolute;left:0;top:0;margin:0;">
    <div style="width:300px;height:100px;background-color:#1ccfaf;">
        <img src="~/Content/Images/logo.png" style="width:250px;margin-top:25px;" class="half-horiz"/>
    </div>
    
    <div style="border-bottom:1px solid #fff;height:50px;line-height:50px;padding-left:35px;font-size:25px;">
        PERIODS
    </div>

    @foreach (Class @class in ViewBag.FirstSemester)
    {
        var parts = @class.Name.Split(',');
        
        <div class="period-box" data-period="@(@class.Period)">
            @(@class.Period) | @(parts.Last().Trim()) | @(parts.Count() == 1 ? "N/A" : parts.First().Trim())
        </div>
    }
</div>

<div id="right-box" style="position:absolute;left:350px;">
    <div style="margin-left:25px;">
        <h1 id="period-name" style="color:#1ccfaf;font-weight:400;"></h1>
        <h3 id="student-count"></h3>
    </div>
    
    <div style="background-color:#ededed;border-radius:15px;min-height:500px;width:100%;">
        <table style="width:100%;padding:30px;padding-top:15px;padding-bottom:10px;border-collapse:collapse;">
            <thead>
                <tr id="header-row">
                    <td>Name</td>
                    <td>Grade</td>
                </tr>
            </thead>
            <tbody id="classmates">
                
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    //You shouldn't do layout in javascript blah blah blah...
    //either send a PR or stop complaining - https://github.com/matthewsot/classfinder

    $(document).ready(function() {
        $(window).resize(function() {
            $("#left-bar").height($(document).height() + 50);
            $("#right-box").width($(document).width() - 400);
        });

        $(window).resize();
    });

    var userId = "@(User.Identity.GetUserId())";

    $(".period-box").click(function () {
        $(".period-box").removeClass("selected");
        $(this).addClass("selected");


        var period = parseInt($(this).attr("data-period"));

        //todo function-ize this stuff
        var suffix = "";
        switch (period) {
            case 1:
                suffix = "st";
                break;
            case 2:
                suffix = "nd";
                break;
            case 3:
                suffix = "rd";
                break;
            default:
                suffix = "th";
                break;
        }
        var periodLabel = period + suffix + " Period";
        var clss = $(this).text().split('|')[1];
        var teacher = $(this).text().split('|')[2];
        $("#period-name").text(period + " | " + clss + " | " + teacher);

        $("#classmates").html("");

        $.getJSON("/API/Classmates/" + userId + "/1/" + period, function (data) {
            for (var i = 0; i < data.classmates.length; i++) {
                var classmate = data.classmates[i];
                $("#classmates").append('<tr><td><a href=\"/Schedule/' + encodeURIComponent(classmate.userName) + "\">" + classmate.realName + '</a></td><td>' + classmate.grade + "</td></tr>");
            }
        });
    });

    $(".period-box").first().click();
</script>