@using Classfinder.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Schedule";
}

@section head {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/suffix.js"></script>
    @Styles.Render("~/Content/Styles/Site/Home/schedule.css")
}

<div id="left-bar">
    <div id="img-row">
        <a href="/Schedule/@(User.Identity.GetUserName())">
            <img src="~/Content/Images/logo.png" id="desktop-logo" />
            <img src="~/Content/Images/logo.favicon.png" id="mobile-logo" />
        </a>
    </div>

    <div id="periods-header">
        PERIODS
    </div>

    @foreach (Class @class in ViewBag.FirstSemester)
    {
        var parts = @class.Name.Split(',');

        <div class="period-box" data-period="@(@class.Period)">
            @(@class.Period) | @(parts.Last().Trim()) | @(parts.Count() == 1 ? "N/A" : parts.First().Trim())
        </div>
    }

    <div id="mobile-period-list">
        @for (var i = 1; i <= 7; i++)
        {
            <div>
                <div class="period-box-mobile" data-period="@(i)">@(i)</div>
            </div>
        }
    </div>
</div>

<div id="right-box">
    <div id="top-left">
        <h1 id="period-name"></h1>
        <h2 id="student-count"></h2>
    </div>
    <div id="top-right">
        <div id="options">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/Account/LogOff">log out</a> @:|
            }
            <a href="/Manage/Schedule">modify schedule</a>
        </div>

        <h2 id="viewing-label">Viewing:</h2>
        <h1 id="viewing-name">@(ViewBag.UserName)'s Schedule</h1>
    </div>

    <div id="table-container">
        <table style="width:100%;padding:30px;padding-top:15px;padding-bottom:10px;border-collapse:collapse;">
            <thead>
                <tr id="header-row">
                    <td>Name</td>
                    <td>Grade</td>
                </tr>
            </thead>
            <tbody id="classmates"></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var userId = "@(User.Identity.GetUserId())";

    $(".period-box").click(function () {
        $(".period-box").removeClass("selected");
        $(".period-box-mobile").removeClass("selected-mobile");
        $(this).addClass("selected");

        var period = parseInt($(this).attr("data-period"));
        $(".period-box-mobile[data-period=" + period + "]").addClass("selected-mobile");
        var periodLabel = suffix(period) + " Period";
        var clss = $(this).text().split('|')[1];
        var teacher = $(this).text().split('|')[2];
        $("#period-name").text(period + " | " + clss + " | " + teacher);

        $("#classmates").html("");

        $.getJSON("/API/Classmates/" + userId + "/1/" + period, function (data) {
            $("#student-count").text(data.classmates.length + " students");
            if (data.classmates.length == 1) {
                $("#student-count").text("1 student");
            }

            for (var i = 0; i < data.classmates.length; i++) {
                var classmate = data.classmates[i];
                $("#classmates").append('<tr><td><a href=\"/Schedule/' + encodeURIComponent(classmate.userName) + "\">" + classmate.realName + '</a></td><td>' + classmate.grade + "</td></tr>");
            }
        });
    });

    $(".period-box-mobile").click(function () {
        $(".period-box[data-period=" + $(this).attr("data-period") + "]").click();
    });

    $(".period-box").first().click();
</script>