@using Classfinder.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Schedule";
}

@section head {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    @Styles.Render("~/Content/Styles/Site/Home/schedule.css")
}

<div id="left-bar">
    <div id="img-row">
        <img src="~/Content/Images/logo.png" class="half-horiz"/>
    </div>
    
    <div id="periods-header">
        PERIODS
    </div>

    @foreach (Class @class in ViewBag.FirstSemester)
    {
        var parts = @class.Name.Split(',');
        
        <div class="period-box" data-period="@(@class.Period)">
            @(@class.Period) | @(parts.Last().Trim()) | @(parts.Count() == 1 ? "N/A" : parts.First().Trim())
        </div>
    }
    
    <div id="bottom-options" style="">
        <a href="/Account/LogOff">log out</a> | <a href="/Manage/Schedule">modify schedule</a>
    </div>
</div>

<div id="right-box">
    <div style="margin-left:25px;">
        <h1 id="period-name" style="color:#1ccfaf;font-weight:400;margin-bottom:5px;"></h1>
        <h2 id="student-count" style="color:#acacac;font-size:25px;margin-top:0;"></h2>
    </div>
    
    <div style="background-color:#ededed;border-radius:15px;min-height:500px;width:100%;">
        <table style="width:100%;padding:30px;padding-top:15px;padding-bottom:10px;border-collapse:collapse;">
            <thead>
                <tr id="header-row">
                    <td>Name</td>
                    <td>Grade</td>
                </tr>
            </thead>
            <tbody id="classmates">
                
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    //You shouldn't do layout in javascript blah blah blah...
    //either send a PR or stop complaining - https://github.com/matthewsot/classfinder

    $(document).ready(function() {
        $(window).resize(function() {
            $("#left-bar").height($(document).height() + 50);
            $("#right-box").width($(document).width() - 400);
        });

        $(window).resize();
    });

    var userId = "@(User.Identity.GetUserId())";

    $(".period-box").click(function () {
        $(".period-box").removeClass("selected");
        $(this).addClass("selected");


        var period = parseInt($(this).attr("data-period"));

        //todo function-ize this stuff
        var suffix = "";
        switch (period) {
            case 1:
                suffix = "st";
                break;
            case 2:
                suffix = "nd";
                break;
            case 3:
                suffix = "rd";
                break;
            default:
                suffix = "th";
                break;
        }
        var periodLabel = period + suffix + " Period";
        var clss = $(this).text().split('|')[1];
        var teacher = $(this).text().split('|')[2];
        $("#period-name").text(period + " | " + clss + " | " + teacher);

        $("#classmates").html("");

        $.getJSON("/API/Classmates/" + userId + "/1/" + period, function (data) {
            $("#student-count").text(data.classmates.length + " students");
            if (data.classmates.length == 1) {
                $("#student-count").text("1 student");
            }

            for (var i = 0; i < data.classmates.length; i++) {
                var classmate = data.classmates[i];
                $("#classmates").append('<tr><td><a href=\"/Schedule/' + encodeURIComponent(classmate.userName) + "\">" + classmate.realName + '</a></td><td>' + classmate.grade + "</td></tr>");
            }
        });
    });

    $(".period-box").first().click();
</script>