@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Schedule";
    Layout = "_Setup.cshtml";
    ViewBag.Semester = ViewBag.StepNum - 1;
}

@section head {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/suffix.js"></script>
    @Styles.Render("~/Content/Styles/Site/Welcome/schedule.css")
    <style type="text/css">
        #progress {
            width: @(ViewBag.StepNum * 25)%;
        }
    </style>
    <script type="text/javascript">
        //needed for the schedule picker
        var school = "@ViewBag.School";
        var userId = "@(User.Identity.GetUserId())";
        var semester = @(ViewBag.Semester);
    </script>
}

<h2 id="step-label">step @ViewBag.StepNum</h2>

@if (ViewBag.StepNum == 2)
{
    <p id="explanation">
        Please enter your first semester schedule
    </p>
}
else {
    <p id="explanation">
        Please make any changes necessary for your second semester schedule
    </p>
}

@Html.Partial("_SchedulePicker")

<br />

@*<button id="previous-button" class="white-on-green btn" style="display:none;">&lt;- Previous</button>*@
<button id="next-button" class="white-on-green btn">Next -&gt;</button>

<script type="text/javascript">
    $("#next-button").click(function() {
        if (semester == 1) {
            $.getJSON("/API/Schedule/CopyFromSemester/1/ToSemester/2", function (data) {
                if (data.good == true) {
                    window.location.href = "/Welcome/Schedule/2";
                } else {
                    alert("Woops, there was an error o.0");
                }
            });
        } else {
            window.location.href = "/Welcome/Complete";
        }
    });
    
    //$("#previous-button").click(function() {
    //    if (semester == 2) {
    //        window.location.href = "/Welcome/Schedule/1";
    //    }
    //});

    if (semester == 2) {
        $("#previous-button").show();
    }
</script>

<br/>
<br/>