@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Schedule";
    Layout = "_Setup.cshtml";
    ViewBag.Semester = ViewBag.StepNum - 1;
}

@section head {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/suffix.js"></script>
    @Styles.Render("~/Content/Styles/Site/Welcome/schedule.css")
    <style type="text/css">
        #progress {
            width: @(ViewBag.StepNum * 25)%;
        }
    </style>
    <script type="text/javascript">
        //needed for the schedule picker
        var school = "@ViewBag.School";
        var userId = "@(User.Identity.GetUserId())";
        var semester = @(ViewBag.Semester);
    </script>
}

<h2 id="step-label">step @ViewBag.StepNum</h2>

@if (ViewBag.StepNum == 2)
{
<p id="explanation">
    &nbsp;&nbsp;&nbsp; Enter in: Teacher name, subject
    <br>
    If you don't have a class that period, list "No Class"
</p>
}
else {
<p id="explanation">
    Please make any changes necessary for your second semester schedule
</p>
}

@Html.Partial("_SchedulePicker")

<br />
<button id="previous-button" class="white-on-green" style="display:none;">&lt;- Previous</button>
<button id="next-button" class="white-on-green">Next -&gt;</button>

<script type="text/javascript">
    $("#next-button").click(function() {
        if (semester == 1) {
            window.location.href = "/Welcome/Schedule/2";
        } else {
            window.location.href = "/Welcome/Complete";
        }
    });
    
    $("#previous-button").click(function() {
        if (semester == 2) {
            window.location.href = "/Welcome/Schedule/1";
        }
    });

    if (semester == 2) {
        $("#previous-button").show();
    }
</script>

<br/>
<br/>