@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Schedule";
    Layout = "_Setup.cshtml";
}

@section head {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    @Styles.Render("~/Content/Styles/Site/Welcome/schedule.css")
    <style type="text/css">
    #progress {
        width: @(ViewBag.StepNum * 25)%;
    }
    </style>
}

<h2 id="step-label">step @ViewBag.StepNum</h2>

@if (ViewBag.StepNum == 2)
{
<p id="explanation">
    &nbsp;&nbsp;&nbsp; Enter in: Teacher name, subject
    <br>
    If you don't have a class that period, list "No Class"
</p>
}
else {
<p id="explanation">
    Please make any changes necessary for your second semester schedule
</p>
}

<div id="schedule-container">
    <div id="period-selector">
        <div>
            <div class="period-num selected">1</div>
        </div>
        <div>
            <div class="period-num">2</div>
        </div>
        <div>
            <div class="period-num">3</div>
        </div>
        <div>
            <div class="period-num">4</div>
        </div>
        <div>
            <div class="period-num">5</div>
        </div>
        <div>
            <div class="period-num">6</div>
        </div>
        <div>
            <div class="period-num">7</div>
        </div>
    </div>
    <script type="text/javascript">
        var userId = "@(User.Identity.GetUserId())";
        var semester = @(ViewBag.StepNum - 1);

        var period = 1;

        $(".period-num").click(function () {
            $("#selected-class").text("");
            period = parseInt($(this).text());
            $("#class-input").keydown();

            $(".period-num").removeClass("selected");
            $(this).addClass("selected");

            var suffix = "";
            switch (period) {
            case 1:
                suffix = "st";
                break;
            case 2:
                suffix = "nd";
                break;
            case 3:
                suffix = "rd";
                break;
            default:
                suffix = "th";
                break;
            }

            $("#period-label").text(period + suffix);
            var teacher = $("#teacher-input").val(""); //todo: make sure this works
            var subject = $("#subject-input").val("");

            $.getJSON("/API/Schedule/" + userId + "/" + semester + "/" + period, function(data) {
                $("#selected-class").text(data.name);
            });
        });

        $.getJSON("/API/Schedule/" + userId + "/" + semester + "/" + period, function(data) {
            $("#selected-class").text(data.name);
        });
    </script>

    <div id="selected-class-box">
        <div id="selected-class-label">Your Class:</div>
        <div id="selected-class"></div>
    </div>

    <div id="class-search-box">
        <input id="teacher-input" type="text" placeholder="  Teacher Name" />
        <input id="subject-input" type="text" placeholder="  Subject" />

        <button id="add-class-btn">ADD CLASS</button>
        <script type="text/javascript">
            var school = "@ViewBag.School";

            function getClassName() {
                var teacher = $("#teacher-input").val().trim();
                var subject = $("#subject-input").val().trim();

                var className = teacher;
                if (subject != "") className += ", " + subject;

                return className;
            }

            $("#teacher-input, #subject-input").keyup(function () {
                $.getJSON("/API/Classes/" + school + "/" + period + "/" + encodeURIComponent(getClassName()), function (data) {
                    fillTableWithClasses(data);
                });
            });

            function addClass(className) {
                if (className == "") {
                    alert("Please enter a class");
                }
                else {
                    $.post("/API/Schedule/" + userId + "/" + semester + "/" + period, {
                        name: className
                    }, function(data) {
                        if(data == "GOOD") {
                            $("#selected-class").text(className);
                            $("#class-input").val("");
                        }
                    });
                }

                var teacher = $("#teacher-input").val(""); //todo: make sure this works
                var subject = $("#subject-input").val("");
            }

            $("#add-class-btn").click(function() {
                addClass(getClassName());
            });
        </script>
    </div>

    <div style="width:100%;border-top:1px solid #1ccfaf;">
        <h1 style="font-weight:300;">Recorded <span id="period-label">1st</span> Period Classes:</h1>
        <table id="classes-table">
        </table>
        
        <script type="text/javascript">
            function fillTableWithClasses(classes) {
                $("#classes-table").html("");

                for (var i = 0; i < classes.length; i++) {
                    var clss = classes[i];
                    $("#classes-table").append("<tr><td>" + clss.name + "</td></tr>");
                }

                $("#classes-table").find("tr").click(function() {
                    addClass($(this).text());
                });
            }
        </script>
    </div>
</div>

<br />
<button id="previous-button" style="display:none;">&lt;- Previous</button>
<button id="next-button">Next -&gt;</button>

<script type="text/javascript">
    $("#next-button").click(function() {
        if (semester == 1) {
            window.location.href = "/Welcome/Schedule/2";
        } else {
            window.location.href = "/Welcome/Complete";
        }
    });
    
    $("#previous-button").click(function() {
        if (semester == 2) {
            window.location.href = "/Welcome/Schedule/1";
        }
    });

    if (semester == 2) {
        $("#previous-button").show();
    }
</script>

<br/>
<br/>