<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Classfinder</title>
    <link href="~/Fonts/Comfortaa.css" type="text/css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
    <link href="~/Styles/TopNav/Default.css" type="text/css" rel="stylesheet" />
    <script src="~/Scripts/jQuery/jquery_placeholder.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="/Images/favicon.ico" />
    @RenderSection("Head", false)
</head>
<body>
    <script type="text/javascript">
        @if(WebSecurity.IsAuthenticated) {
            @:var Username = "@Html.Raw(Ajax.JavaScriptStringEncode(WebSecurity.CurrentUserName))";
            @:var Challenge = "@Html.Raw(Ajax.JavaScriptStringEncode(Classfinder.Database.User.GetFromUsername(WebSecurity.CurrentUserName).Challenge))";
        }
        function MinTop() {
            $('#TopNav').hide();
            $('#MainBody').css('margin-top', '0px');
            $('#MainBody').css("width", "auto");
        }
    </script>
    <div id="TopNav">
        <div id="TopCont">
            <a href="~/"><img id="Logo" src="~/Images/Logo/Default.png" alt="classfinder.me" height="60" /></a>
            @RenderSection("Nav", false)
        </div>
    </div>
    <div id="MainBody">
        @RenderBody()
    </div>
    <script type="text/javascript">
        //via https://github.com/mathiasbynens/jquery-placeholder
        $('input, textarea').placeholder();
    </script>
</body>
</html>